html, body{
	padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.error {
	text-align: center;
	font-size: 50px;
	font: bold;
	left: 0;
	right: 0;
	top: 100px;
	bottom: 0;
	position: absolute;
}

#content_loggedin {
	width: 960px;
	background-color: white;
	margin: 64px auto;
	border: 1px solid gray;
	min-height: 600px;
	max-height: 1200px;
	padding: 20px;
	overflow: auto;
	position: relative;

}

#menubar {
	width: 220px;
	margin: 0;
	padding: 20px 0 0 20px;
	margin-bottom: 0;
	margin-left: 0px;
	float: left;
	background-color: inherit;
	border-right: 1px solid black;
	height: 100%;
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
}

#menubar ul {
	list-style-type: none;
	padding: 0 5px;
	height: 100%;
}

#menubar li:hover {
	background-color: #D1D1D1;
}

#menubar a {
	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 2px 0 2px 5px;
}

#menu-content {
	float: right;
	padding: 0 0 20px 0;
	width: 700px;
	display: inline;
	background-color: inherit;
}