
body {
	background-image: url(../images/pattern_152.gif);
	background-repeat: repeat;
	z-index: 1;
}

/*menu nav */

#menu {
	z-index:3;
	position: fixed;
	float: right;
	right: 4px;
	height: 30px;
}

#menu:hover {
	cursor: pointer;
}



#div-menu {
	z-index: 2;
	background-color: #f0f0f0;
	position: fixed;
	float: right;
	width: 175px;
	right: 0px;
	top: 30px;
	border: 2px solid #a0a0a0;
}

#div-menu ul {
	margin: 0;
    list-style-type: none;
}

#div-menu a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
}
#div-menu a:hover {
    color: #1dbaf8;
}

#ul-border {
	border-top: 2px solid #909090;
}

/* end menu nav */

/* Popup menu: */
 
#popup {
	height: 600px;
	width: 800px;
	background-color: #ffffff;
	z-index: 100;
	display: none;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid #909090;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1); 
}

#popup h1, .center {
	text-align: center;
}

.select-newgame {
	width: 300px;
	margin: 0 auto;
}

#popup table {
	font-size: 18px; 
}

.select-style {
	text-align: right;
	width: 65px;
	padding-left: 20px;
	padding-right: 5px; 
	overflow: hidden; 
	background-color: #fff;
	background: #fff url("../images/arrowdown.png") no-repeat 86% 50%;
}

.select-style select {
	padding-right: 20px;
	float: right;
	width: 130%;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
	outline: none;
}

.select-newgame p {
	margin: 10px 0px 10px 0px;
}


#submit-newgame {
	height: 40px;
	font-size: 20px;
	width: 200px;
	margin: 0 auto;
	display: block;
}

#submit-makenewgame, #submit-updatebutton, #submit-updateedit, #submit-newgame-teams, #submit-teams-continue {
	height: 40px;
	font-size: 20px;
	width: 300px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
}

.popup {
	margin-top:50px;
	display: none;
}

#edit-buttons-popup textarea {
	width: 300px;
	height: 100px;
	font-size: 15px;
	resize: none;
}

.input-edit {
	font-size: 20px;
	margin-top: 10px;
}

#close {
	position: relative;
	height: 30px;
	float: right;
}

#close:hover {
	cursor: pointer;
}

#dimmer {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
	position: fixed;
	z-index: 99;
	display: none;
}

/* end popup */

.fixed {
	table-layout: fixed;
}

.fixed td {
	overflow: hidden;
}

.current {
	color: #ffffff;
}

.table_box {
	width: 2%;
	text-align: center;
}

.table_box_subject {
	text-align: center;
	font-weight: bold;
	font-size: 35px;
}

.teams{

	font-size: 35px;

	display: inline;
}

#title {
	font-size: 35px;
	text-align: center;
	margin: 0 auto;
}

#teams_tr {
	text-align: center;
}


.main-table {

	width: 100%;
	height: 90%;
}

.btnQ {

	width: 95%;
	height: 95%; 
	font-size: 40px;
	background-color: #bbbbbb;
	text-decoration: none;
	border: none;
	box-shadow: inset 0 0 10px rgba(50, 50, 50, 1);
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center; 
}


.Qbtn {

	height: 60px;
	width: 200px;
	font-size: 40px;
}

.btnQ_enable {
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 1);
	background-color: #ffffff;
}

.btnQ_enable:hover {
	background-color: #bbbbbb;
	/*color: #ffffff;*/
}

.btn_pressed {
	background-color: #68b54d;
}

.subject_pressed {
	color: #7cfc00;
}

.timer {
	font-size: 30px;
	color: blue;
}

#background-madeby {
	z-index: 98;
	bottom: 0px;
	right: 10px;
	position: fixed;
	color: #ffffff;
	font-size: 10px;
}

#background-madeby a {
	color: #33CCFF;
}

/* Make page add-remove! */
#right-bar {
	height: 100%;
	right: 0px;
	top: 0px;
	width: 55px;
	position: fixed;
}


#add-remove-subject {
	display: none;
	height: 110px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


#add-remove-subject img {

	margin: 5px 0px 5px 0px;
	height: 50px;
	width: 50px;
	display: block;
}

#bottom-bar {
	width: 100%;
	height: 55px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

#add-remove-question {
	display: none;
	bottom: 0;
	left: 0;
	right: 0;
	float: middle;
	text-align: center;
	position: absolute;
}

#add-remove-question img {
	margin: 0px 5px 2px 5px;
	height: 50px;
	width: 50px;
}

#add-subject, #remove-subject, #add-question, #remove-question {
	cursor: pointer;
	
}
