
body {
	background-image: url(../images/pattern_152.gif);
	background-repeat: repeat;
	z-index: 1;
}

#menu {
	z-index:3;
	position: fixed;
	float: right;
	right: 4px;
	height: 30px;
}

#menu:hover {
	cursor: pointer;
}

#div-menu {
	z-index: 2;
	background-color: #f0f0f0;
	position: fixed;
	float: right;
	width: 175px;
	height: 250px;
	right: 0px;
	top: 30px;
	border: 2px solid #a0a0a0;
}

#div-menu ul {
	margin: 0;
    list-style-type: none;
}

#div-menu a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
}
#div-menu a:hover {
    color: #1dbaf8;
}

#ul-border {
	border-top: 2px solid #909090;
}

#popup {
	height: 300px;
	width: 400px;
	background-color: #ffffff;
	z-index: 100;
	display: none;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid #909090;
}

#popup h1, p, input {
	text-align: center;
}

#new-game-popup, #load-game-popup {
	margin-top:50px;
	display: none;
}

#close {
	position: relative;
	height: 30px;
	float: right;
}

#close:hover {
	cursor: pointer;
}

#dimmer {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
	position: fixed;
	z-index: 99;
	display: none;
}

.current {
	background-color: green;
}

.table_box {
	width: 2%;
	/*height: 125px;*/
	text-align: center;
}

.table_box_subject {

	/*height: 125px;*/
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.TEAMS{

	font-size: 40px;

	display: inline;
}

#TEAMS_tr {
	text-align: center;
}


.main-table {

	width: 100%;
	height: 90%;
}

.btnQ {

	width: 95%;
	height: 95%; 
	font-size: 40px;
	background-color: #FF5858;
}

.center {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center; 
}

.Qbtn {

	height: 60px;
	width: 200px;
	font-size: 40px;
}

.btnQ_enable {
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 1);
	background-color: #ffffff;
}

.btnQ_enable:hover {
	background-color: #252525;
	color: #ffffff;
}

.Timer {
	font-size: 30px;
	color: blue;
}

#background-madeby {
	bottom: 0px;
	right: 10px;
	position: fixed;
	color: #ffffff;
	font-size: 10px;
}

#background-madeby a {
	color: #33CCFF;
}